
html{
    margin: 0;
    text-decoration: none;
    
}
body{
    background-color: #a8a8a8;
    
}
a{
    text-decoration: none;
}
/*
.c-loader{
    animation: is-rotating 1s infinite;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 6px solid #e5e5e5;
    border-top-color: #51d4db;
}
@keyframes is-rotating{
    to{
        transform: rotate(1turn);
    }
}*/
.escondido{
    display: none;
}
.nav-item{
    margin-left: 8px;
}
.center{
    border-radius: 10%;
    background-color: #ffffff;
    width: 100vw;
    height: 90vh;
}
.svlg{
    margin: auto;
    display: block;
}
.dropdown{
    margin: auto;
    display: inline-block;
    position: relative;
    left: 27.5vw;
   
    
}
.rimô{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}
#lg{
    background-color: aqua;
    color: #FFFFFF;
    position: relative;
    left: 62vw;
    text-align: center;
    width: 5vw;
    border-radius: 8px;
    
}
.cards{
    position: relative;
    left: 0.3vw;
    text-decoration: none;
    list-style: none;
    width: 32vw;
    color: black;
    margin-left: 8px;
}


.bg{
    margin-top: 7px;
    background-color: rgb(56, 104, 236);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-select{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.vinicio ,.victor{
    display: inline-block;
    text-align: center;
    border: 2px;
    border-color: #07395f;
    border-style: solid;
    color: white;
}


.vinicio img, .victor img{
    margin-top: 3px;
    width: 13vw;
    height: 27vh;
}

.instaSv{
    color: white;
}



@media (max-width: 990px){
    #lg{
        position: relative;
        left: 0;
        width: 10vw;
    }
}
@media (max-width: 965px){
    .vinicio img, .victor img{ 
        width: 20vw;
        height: 27vh;
    }
}
@media (max-width: 600px){
    .vinicio img, .victor img{ 
        width: 30vw;
        height: 30vh;
    }
    #car{
        height: 100px;
    }
}
@media (max-width: 400px){
    .vinicio img, .victor img{ 
        width: 40vw;
        height: 40vh;
    }
}
@media (max-width: 600px){
    #lg{
        position: relative;
        left: 0;
        width: 15vw;
    }
}

